.checkmark-checked {
  color: #fff;
  background-color: transparent;
}

.checkmark-blank {
  color: transparent;
  background-color: transparent;
}

.circle:hover .checkmark-blank {
  color: #0078d7;
}
