/* Layout */
*, *:focus, *:hover {
    outline: none;
}

/* Customizable */

.underline-off {
    text-decoration: none;
}

.bg-gray-300 {
    background-color: lightgray;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-azure {
    background-color: #0078D7;
}

.bg-azure-light {
    background-color: #c3ddf7;
}

.border-none {
    border: none;
    outline: none;
}

.rounded {
    border-radius: 0.25rem;
}

.bg-azure-dark--hover:hover {
    background-color: #005a9e;
}